services:
  db:
    image: postgres:17.2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: demo
    ports:
      - "5439:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: